.root {
  padding: 53px 29px 25px;
}

.input {
  margin-bottom: 24px;
}

.clickShotLogo {
  width: 220px;
  margin-left: 57px;
  margin-bottom: 45px;
}

.haveAnAccount {
  text-align: center;
}

.login {
  color: #7cb0ff;
  margin-left: 4px;
}

.button {
  margin-bottom: 51px;
}
