.root {
  background-color: #7a8b7f;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0;
}

.withRecommendations {
  grid-template-columns: 1fr auto 1fr;
  column-gap: 14px;
}

.sidebar {
  position: sticky;
  top: 0;
  bottom: 0;
  align-self: flex-start;
  padding-bottom: 14px;
}

.sidebarRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.logoContainer {
  background-color: rgba(255, 255, 255, 0.3);
  width: 317px;
  height: 84px;
  border-radius: 0 0 15px 0;
  display: flex;
  vertical-align: auto;
  justify-content: center;
  margin-bottom: 14px;
}

.logo {
  width: 145px;
  color: white;
}

.menuContainer {
  background-color: rgba(255, 255, 255, 0.3);
  width: 317px;
  border-radius: 0 15px 15px 0;
  padding: 15px 25px;
}

.list {
  list-style: none;

  > li {
    margin-bottom: 24px;
  }
}

.listItem {
  display: inline-block;

  > span {
    vertical-align: middle;
    line-height: 18px;
  }

  > svg {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 15px;
  }
}

.myProfile,
.recomendations {
  width: 333px;
  background-color: #f1f2ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 20px;
  margin-top: 14px;
  margin-right: 14px;
}

.recomendations {
  flex-direction: column;
}

.profileLeftConteiner {
  display: flex;
  justify-content: end;
  align-items: center;
}

.myProfileImg {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-right: 15px;
}

.myNameAndNickName {
  display: flex;
  flex-direction: column;
}

.myProfileNickName {
  color: #7a8b7f;
  font-weight: 500;
}

.myProfileName {
  color: #57665c;
  font-size: 12px;
  margin-top: 2px;
}

.switchAccountBtn {
  background-color: #7a8b7f;
  border: 0px;
  color: #f1f2ed;
  width: 106px;
  height: 25px;
  padding: 5px 8px;
  border-radius: 6px;
}

.recommendationHeader {
  width: 100%;
  color: #7a8b7f;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.recommendationBtn {
  cursor: pointer;
  border: 0;
  background: none;
  color: #7a8b7f;
}

.recommendationsForYou {
  font-size: 16px;
  font-weight: 600;
}

.recommendationBody {
  width: 100%;
  color: black;
}

.recommendedUserContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.recommendedUserAvatarNameAndNickName {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recommendedUserNameAndNickName {
  display: flex;
  flex-direction: column;
}

.recommendedUserNickName {
  color: #7a8b7f;
  font-weight: 500;
  font-size: 14px;
}

.recommendedUserName {
  color: #57665c;
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
}

.recommendedUserAvatar {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 12px;
  object-fit: cover;
}
