.root {
  margin: 48px 41px 0px 41px;
}

.iconImage {
  margin-left: 67px;
  margin-bottom: 48px;
}

.enterACodeText {
  margin-bottom: 14px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
}

.text {
  margin-bottom: 59px;
  text-align: center;
}

.inputCode {
  margin-bottom: 38px;
}

.inputButtonNext {
  margin-bottom: 10px;
}

.inputButtonGhost {
  margin-bottom: 73px;
}
