.root {
  width: 100%;
  max-width: 450px;
  background: transparent;
  justify-self: flex-start;
  align-self: flex-start;
  border-radius: 20px;
  min-height: 100px;
  overflow: hidden;
  border: 1px solid white;
  padding: 20px;
  margin: 14px 0 0 50px;
}

.avatar {
  display: block;
  margin: 0 auto 20px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
}

.input + .input {
  margin-top: 20px;
}

.saveBtn {
  display: block;
  max-width: 300px;
  margin: 35px auto 0;
}
