.root {
  background-color: #f1f2ed;
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  border-radius: 15px;
  padding: 13px;
  margin: 0px;
  color: black;
}

.pic {
  display: block;
  width: 100%;
  height: auto;
  min-height: 250px;
  max-height: 450px;
  object-fit: cover;
  border-radius: 10px;
}

.actionPanel {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
  margin-bottom: 10px;
}

.likeAmount {
  line-height: 24px;
  font-weight: bolder;
}

.postDescription {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

%button {
  width: auto;
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: 0px;
  transition: 0.2s;
  color: black;

  &:hover {
    color: #7a8b7f;
  }

  > svg {
    display: block;
    height: 100%;
  }
}

.saveButton,
.likeButton,
.commentsButton,
.sendToButton {
  @extend %button;
}

.sendToButton > svg {
  height: 17px;
}

.likeButtonActive {
  color: #f2374d;

  &:hover {
    color: #ed7482;
  }
}

.iconGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 18px;
}

.footerOfPost,
.postCreatorInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentatorUsername {
  font-weight: bolder;
  line-height: 23px;
  margin-right: 5px;
}

.commentText {
  line-height: 23px;
}

.postCreatorAvatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 6px;
}

.date {
  color: #4f4a4a;
  font-weight: 300;
  font-size: 12px;
  line-height: 23px;
}

.user {
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
}

.rightInfoBlock {
  display: flex;
  flex-direction: column;
}
